/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/*
 * Typography
 */

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
    font-size: 12px;
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
    color: rgba(255,255,255,0.5);
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


.navbar{
    background-color: #6e0b73;
}

.navbar > a{
    color: #fff !important;
    padding-bottom: 0 !important;
    padding-right: 30px;
}

.navbar-fixed-top .navbar-nav > li > a,
.navbar-fixed-top .navbar-nav > li > a{
  color: #fff;
}

.navbar-fixed-top .navbar-nav > li > a:hover,
.navbar-fixed-top .navbar-nav > li > a:focus {
  background-color: #fff;
  color: #1b1e5e;
}

.form-inline > a{
    color: #fff !important;
    padding-right: 50px;
}

.botoncs{
    padding: 8px;
}

.botoncs:hover{
    text-decoration: none !important;
    color: #1b1e5e !important;
    background-color: #ffffff;
}

.actual{
    background-color: #1c1f26 !important;
    color: #fff !important;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    border-color: #34fe1c;
}

.actualic{
    color: #34fe1c !important;
}

.color-barra{
    background: #2c303b; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #2c303b, #3f4555); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #2c303b, #3f4555); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #2c303b, #3f4555); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #2c303b, #3f4555); /* Standard syntax */
}

.iconos{
    color: rgba(255,255,255,0.5);
    font-weight: bold;
    padding-right: 5px;
    padding-left: 10px;
    font-size: 15px;
}

.textonum{
    background-color: rgba(255,255,255,0.5) !important;
    color: #3f4555;
    font-size: 12px;
    text-align: center;
}

.textonumac{
    background-color: #ea3c78 !important;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}

.col-md-3{
    color: #fff;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    border-style: solid;
    border-width: 0px 0px 20px 0px;
    border-color: #34fe1c;
}

.grandes1{
    margin-top: -100px;
    font-size: 100px;
    color: #25a158;
}

.grandes2{
    margin-top: -100px;
    font-size: 100px;
    color: #a29a2c;
}

.grandes3{
    margin-top: -100px;
    font-size: 100px;
    color: #b7012d;
}

.grandes4{
    margin-top: -100px;
    font-size: 100px;
    color: #0091ac;
}

.grandes5{
    margin-top: -100px;
    font-size: 100px;
    color: #8c55a5;
}

.cuadro1{
    background-color: #2dc66c !important;
    border-color: #25a158 !important;
}

.cuadro2{
    background-color: #c7bd36 !important;
    border-color: #a29a2c !important;
}

.cuadro3{
    background-color: #ff013f !important;
    border-color: #b7012d !important;
}

.cuadro4{
    background-color: #00b2d3 !important;
    border-color: #0091ac !important;
}

.cuadro5{
    background-color: #ab68c9 !important;
    border-color: #8c55a5 !important;
}

.main-color-bg{
    background-color: #1c1f26 !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand{
    color: #ffffff !important;
}

.logo{
    margin-top: -10px;
}

h1,h4{
    font-weight: bold;
}

.numcuad{
    font-size: 50px !important;
}

.nav-link:hover {
    background-color: #1c1f26 !important;
    color: #fff !important;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    border-color: #34fe1c;
}

.colarr{
    margin-top: 50px;
}

hr{
  border: 10;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.btn-light{
  border-style: solid;
  border-width: 1px;
  border-color: #337ab7;
}

.btn-light:focus{
  color:#337ab7;
  background-color:#e6e6e6;
  border-color:#8c8c8c;
}

.btn-light:hover{
  color:#337ab7;
  background-color:#e6e6e6;
  border-color:#adadad;
}

.btn-light:active{
  color:#337ab7;
  background-color:#d6d6d6;
  border-color:#adadad;
}
